.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:7px;
    padding:30px 130px 90px 130px;
}
.container img{
    border-radius:10px;
}
#topic{
    font-size:48px;
    text-align: center;
}
b{
    font-size:24px;
}
span{
    font-size:16px;
}
h4{
    font-size:24px;
}
.text{
    padding-left:20px;
}
.button{
    background-color:#FED84C;
    width:168px;
    height:63px;
    font-size:18px;
    border-radius:10px;
    border-color:#FED84C;
    margin-bottom:60px;
}
.floating-img {
    position: absolute;
    width: 150px; 
    height: auto;
    top: 200vh; 
    left:50px;
    opacity: 0.8; 
}
.floating-img1 {
    position: absolute;
    width: 180px; 
    height: auto;
    top: 100vh; 
    right:50px;
    opacity: 0.8; 
}
.floating-img2 {
    position: absolute;
    width: 190px; 
    height: auto;
    top: 35vh; 
    left:20px;
    opacity: 0.8; 
}
