.for_block{
    display:block;
    border:2px solid green;
}
.for_inline{
    display:inline;
    border:2px solid green;
}
.for_flex{
    display:flex;
    border:2px solid green;
}
.main_container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    flex-flow:row nowrap;
}
.main{
    flex-wrap:wrap;
    display:flex;
    border:9px solid black;
    
}
.first{
    display:flex;
    height:50px;
    width:60px;
    border:3px solid pink;
    justify-content:flex-end;
}
.second{
    display:flex;
    height:50px;
    width:60px;
    border:3px solid pink;
    justify-content:center;
}
.third{
    display:flex;
    height:50px;
    width:60px;
    border:3px solid pink;
    justify-content:flex-start;
}
.flex{
    gap:3px;
    display:flex;
    background-color:grey;
    padding:2px;
    height:50px;
    justify-content:center;
    justify-content:space-between;
    align-items:center;

}
.item{
    display:flex;
    height:30px;
    width:30px;
    background-color:orange;
    padding:2px;
    flex-basis:100px;
}
.item1{
    flex-grow:1;
}
.item2{
    flex-shrink:0;
}
.item3{
    flex:0 0 200px;
}
.task6{
    border:1px dotted green;
    display:flex;
    width:100vw;
    gap:5px;
}
.fir{
    display:flex;
    flex-basis:50vw;
    border:1px solid purple;
}
.sec{
    display:flex;
    flex:1 1 auto;
    border:1px solid purple;
}
.thi{
    display:flex;
    flex-basis:100px;
    border:1px solid pink;
    padding:6px;
}
.task7{
    display:flex;
    justify-content:center;
    gap:10px;
  
}
.first1:hover{
    color:pink;
}
.task8{
    display:flex;
    gap:15px;
    width:200px;
    height:200px;
    flex-wrap:wrap;
}
.l{
    display:flex;
    width:80px;
    height:80px;
    flex:0 0 90px;
}